---
title: Middleman Onthestreet
description: An index page for middleman-onthestreet
---

<div class="container">
  <%= markdownify "## Markdown Love!!\n _yeah!_ " %>

  <div class="welcome">
    <h1>This Middleman Has Got Some Opinions</h1>
    <p class="doc">
      <%= link_to "middleman-onthestreet Github", "https://github.com/dannguyen/middleman-onthestreet" %>

      <%= link_to "Read Online Documentation for Middleman", "http://middlemanapp.com/" %>
    </p><!-- .doc -->
  </div><!-- .welcome -->
</div>
